.navbar {
    background-color: rgb(110, 59, 131);
}

.budget-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-label {
    overflow: unset;
}

.is-fluid-small-padding {
    padding-left: 5px;
    padding-right: 5px;
}