.navbar {
    background-color: rgb(110, 59, 131);
}

.level:not(:last-child) {
    margin-bottom: 0;
}

.file-label {
    overflow: unset;
}

.is-fluid-small-padding {
    padding-left: 5px;
    padding-right: 5px;
}