.table-section {
    border-top: 5px solid rgba(88, 43, 114, 0.2);

    &.income {
        background: linear-gradient(to left, rgba(10, 161, 55, 0.4), rgba(255,255,255,0) 80%);
    }

    &.expense {
        background: linear-gradient(to left, rgba(161, 10, 10, 0.4), rgba(255,255,255,0) 80%);
    }

    .table-section-title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid rgba(88, 43, 114, 0.2);
    }

    .amount-expense {
        color: rgb(102, 9, 9)
    }

    .amount-income {
        color: rgb(16, 116, 16)
    }
}